.main_page{
    display:flex;
    flex-direction: column;
    height: 100%;
    padding: 56px 0 0 240px;
}

.page_container{
    flex:1;
}

.spinner_container{
    display:flex;
    margin-top: 18%;
    flex-direction: column;
    align-items: center;
}

.spinner_container h1{
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.container{
    padding: 2em 40px 60px 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    display:grid;
    grid-template-columns: 50% 50%;
    row-gap: 1em;
}

.content_container{
    display:flex;
    flex-basis: 100%;
    background-color: #303133;
    border-radius: 10px;
    padding: 0.7em;
    margin-right: 1em;
}

.content_container:hover{
    filter: opacity(80%);
}

.poster_container{
    min-height: 0;
    flex-basis: 27%;
    margin: 0 0.8em 0 0;
}

.content_container img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.content_info_container{
    display:flex;
    flex-basis: 73%;
    flex-direction: column;
}

.content_info_container h1{
    color:white;
    font-size: 1.8em;
    font-weight: 900;
    margin:0;
}

.content_info_container h2{
    color:white;
    font-size: 1.5em;
    font-weight: 700;
    margin:0 5px 0 0;
}

.content_info_container span{
    color:#fefefe;
    font-size: 1.2em;
    font-weight: 700;
    margin:0;
}
.content_info_container h3{
    color:#5a4ae3;
    font-size: 1.2em;
    font-weight: 400;
    margin:0 0 0.4em 0;
}

.age_container{
    min-height: 0;
    flex-basis: 22%;
}

.title{
    color:white;
    font-size: 2.6em;
    font-weight: 900;
    margin:0 0 0 40px;
}

.star_container{
    flex-direction: row;
    display:flex;
    margin: 1em 0 0 0;
}

.stars{
    overflow: hidden;
    width:21px
  }

